
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.tittle = "AccountInfor";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Information</title>
</head>
<body>
    <div>
        Bui thanh hoang
    </div>

    </div>
    @Html.Partial("_MyPartial")
    </div>
</body>
</html>
