
<div id="show-product-modal" class="modal fade" role="dialog">
    <div style="width:800px;" class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background-color:#9AFE2E">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 style="text-align:center;color:#fff;font-weight:bold" class="modal-title">
                    Chi tiết sản phẩm
                </h2>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped table-hover">

                    <tr>
                        <th style="font-weight:bold;" v>Tên</th>
                        <td id="show_tensp"></td>
                    </tr>
                    <tr>
                        <th style="font-weight:bold;" v>Giá</th>
                        <td id="show_giasp">""</td>
                    </tr>
                    <tr>
                        <th style="font-weight:bold;" v>Số lượng</th>
                        <td id="show_soluongsp"></td>
                    </tr>
                    <tr>
                        <th style="font-weight:bold;" v>Trọng lượng</th>
                        <td id="show_trongluongsp"></td>
                    </tr>
                    <tr>
                        <th style="font-weight:bold;">Nhà Sản Xuất</th>
                        <td id="show_nhasanxuatsp"></td>
                    </tr>
                    <tr>
                        <th style="font-weight:bold;">CPU</th>
                        <td id="show_cpusp"></td>
                    </tr>
                    <tr>
                        <th style="font-weight:bold;">ROM</th>
                        <td id="show_romsp"></td>
                    </tr>
                    <tr>
                        <th style="font-weight:bold;">RAM</th>
                        <td id="show_ramsp"></td>
                    </tr>
                    <tr>
                        <th style="font-weight:bold;">Camera</th>
                        <td id="show_camerasp">Trước: "" mpx, Sau: </td>
                    <tr>
                        <th style="font-weight:bold;">Màn Hình</th>
                        <td id="show_manhinhsp">Inc</td>
                    </tr>
                    <tr>
                        <th style="font-weight:bold;">Pin</th>
                        <td id="show_pinsp"> mAh</td>
                    </tr>
                </table>


            </div>

            <div>
                @*class="modal-footer"*@
                <button style="position:relative;bottom:35px;left:700px;" type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>      