
@using BTL_WEB.Models.Entities;
@using BTL_WEB.Models.Functions;

@{
    ViewBag.Title = "Home Page";
    Func_DanhMuc dm = new Func_DanhMuc();
    List<tbl_danhmuc> listDM = new Func_DanhMuc().DS_DanhMuc.ToList();
    int n = new Func_DanhMuc().DS_DanhMuc.Count();

    List<tbl_nhasanxuat> listNSX = new Func_nhasanxuat().DS_NhaSanXuat.ToList();
    int m = new Func_nhasanxuat().DS_NhaSanXuat.Count();
}
<div class="content-sidebar">
    <h2><br />Danh Mục</h2>
    <ul>
        @for (int i = 0; i < n; i++)
        {
            <li><a href="/Home/DanhMuc?danhmuc=@listDM[i].id">@listDM[i].ten</a></li>
        }
    </ul>
    <br />
    <h2>Thương Hiệu</h2>
    <ul class="nav nav-pills nav-stacked">
        @for (int i = 0; i < m; i++)
        {
            <li><a href="/Home/ThuongHieu?thuonghieu=@listNSX[i].id">@listNSX[i].ten</a></li>
        }
    </ul>
    <br />
    <div class="price-range">
        <!--price-range-->
        <h2>Price Range</h2>
        <div class="well text-center">
            <div class="slider slider-horizontal" style="width: 187px;">
                <div class="slider-track">
                    <div class="slider-selection" style="left: 41.6667%; width: 33.3333%;"></div>
                    <div class="slider-handle round left-round" style="left: 41.6667%;"></div>
                    <div class="slider-handle round" style="left: 75%;"></div>
                </div>
                <div class="tooltip top" style="top: -30px; left: 76.0833px;">
                    <div class="tooltip-arrow"></div>
                    <div class="tooltip-inner">250 : 450</div>
                </div>
                <input class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" style="" type="text">
            </div><br>
            <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
        </div>
        <form method="post" action="/Home/Index" class="navbar-form navbar-left">
            <div class="form-group">
                <input style="width:800px;" type="text" class="form-control" placeholder="Search" name="min">
                <input style="width:800px;" type="text" class="form-control" placeholder="Search" name="max">
            </div>
            <button type="submit" class="btn btn-default" value="OK"></button>
        </form>
    </div><!--/price-range-->
    
</div>

